/*Page Settings/////////////////////////////////////////////////////////////////////////////////////////////*/

* {margin: 0; padding: 0; font-family: 'Open Sans';}

html {scroll-behavior: smooth;}

body {overflow-x:hidden;}

a, a:hover, a:active, a:visited, a:focus {text-decoration: none;}

/*Sidebar Tab Hover Settings////////////////////////////////////////////////////////////////////////////////*/

#A:hover {background-color: #062f4faa;}

#B:hover {background-color: #004bafaa;}

#C:hover {background-color: #049fd9aa;}

#D:hover {background-color: #4717f6aa;}

#E:hover {background-color: #813772aa;}

#F:hover {background-color: #b82601aa;}

/*Background Settings///////////////////////////////////////////////////////////////////////////////////////*/

.Background
{
  background-size: cover;
  filter: blur(3px);
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 0;
  z-index: 1;
}

#XL
{
  background-size: cover;
  filter: blur(3px);
  width: 100vw;
  height: 150vh;
  position: relative;
  top: 0;
  z-index: 1;
}

/*Sidebar Settings//////////////////////////////////////////////////////////////////////////////////////////*/

.Sidebar
{
  transition: ease all .5s;
  width: 17vw;
  height: 100vh;
  background-color: #1e1e1eea;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.Profile
{
  opacity: 1;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  z-index: 4;
}

.Menu
{
  background: transparent;
  border: none;
  text-decoration: none;
  color: whitesmoke;
  font-size: 1vw;
  text-align: left;
  display: flex;
  align-items: center;
  height: 8vh;
}

.Icon
{
  padding-right: 2vh;
  padding-left: 2vh;
  width: 5vh;
  height: 5vh;
}

ul li 
{
  line-height: 20vh;
  list-style: none;
  display: grid;
}

ul li a 
{
  text-decoration: none;
  color: whitesmoke;
  font-size: 2vw;
  font-family: 'Open Sans';
  text-align: left;
  
}

/*Contact Button Settings///////////////////////////////////////////////////////////////////////////////////*/

.Contact
{
  padding-top: 2vh;
  /*background-color: #0011ff85;*/
  text-align: center;
}

.ContactForm
{
  display: inline;
}

.ContactButton
{
  margin-left: auto;
  margin-right: auto; 
  display: inline-block;
  background: transparent;
  /*background-color: #ccff0085;*/
  background-size: 3vh 3vh;
  border: none;
  width: 3vh;
  height: 3vh;
  margin:0.5vw;
}

/*Main Site Content/////////////////////////////////////////////////////////////////////////////////////////*/

.Content
{
  position: relative;
  float: right;
  width: 80vw;
  height: 100vh;
  z-index:2;
}

.Textbox
{
  position: absolute;
  height: 40vh;
  width: 50vw;
  background-color: #1e1e1eea;
  bottom: 2vh;
  right: 2vh;
}

.NamePlate
{
  position: absolute;
  top: 2vh;
  width: 50vw;
  display: inline-flex;
  text-align: right;
  color: whitesmoke;
  font-size: 22px;
}

.Header
{
  width: 48vw;
  padding-right: 2vh;
}

.Badge
{
  padding-right: 2vh;
  float: right;
  right: 2vh;
  width: 15vh;
  height: 15vh;
}

/*About Me Site Content/////////////////////////////////////////////////////////////////////////////////////*/

#AM_Profile
{
  opacity: 1;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding-right: 0vh;
  z-index: 4;
}

#AM_Textbox
{
  position: absolute;
  height: 60vh;
  width: 70vw;
  background-color: #1e1e1eea;
  bottom: 2vh;
  right: 2vh;
}

#AM_Title
{
  padding-top: 23vh;
  padding-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-size: 22px;
}

#AM_Nameplate
{
  position: absolute;
  top: 2vh;
  right: 2vh;
  width: 50vw;
  display: inline-flex;
  text-align: right;
  color: whitesmoke;
  font-size: 22px;
}

/*Skill Section Content/////////////////////////////////////////////////////////////////////////////////////*/

.SkillsSection
{
  position: absolute;
  height: 146vh;
  width: 70vw;
  top: 2vh;
  right: 6vw;
  background-color: #1e1e1eea;
  z-index: 2;
}

.SkillSet
{
  position: relative;
  height: 40vh;
  width: 66vw;
  top: 2vw;
  left: 2vw;
  background-color: #1e1e1eea;
  text-align: center;
}

.SkillSetTitle
{
  position: relative;
  text-align: center;
  padding-top: 5vh;
  padding-left: 2vh;
  color: whitesmoke;
  font-size: 25px;
  font-family: 'Open Sans';
}

.Skills
{
  padding-top: 7vh;
  display: flex;
  /*background: #d9ff00aa;*/
  position: absolute;
  height: auto;
  width: 66vw;
}

.Skill
{
  /*background: #ff000055;*/
  position: relative;
  width: 16vw;
  height: auto;
}

.SkillTitle
{
  padding-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-size: 1vw;
}

.SkillImage
{
  height: 10vh;
  width: 10vh;
  margin-left: auto;
  margin-right: auto;
  bottom: 2vh;
}

/*Text Settings/////////////////////////////////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

.Title
{
  padding-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-size: 21px;
}

.Paragraph
{
  width: 46vw;
  position: absolute;
  bottom: 0;
  right: 0;
  float: right;
  padding-right: 2vh;
  padding-bottom: 2vh;
  color: whitesmoke;
  font-family: 'Open Sans';
  font-size: 1vw;
  text-align: right;
}

/*Normal Media Settings/////////////////////////////////////////////////////////////////////////////////////*/

.MenuButton
{
  display: none;
}

.Tag
{
  display: flex;
}

#P2
{
  display: none;
}
#T2
{
  display: none;
}
#C2
{
  display: none;
}

/*Modified Media Settings///////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1200px)
{
  .Textbox
  {
    height: 35vh;
  }
  .TagContainer
  {
    width: 50vw;
    height: 100vh;
    position: fixed;
    z-index: 5;
  }
  .Tag
  {
    transition: ease all .5s;
    width: 25vw;
    height: 27vh;
    background-color: #1e1e1eea;
    position: absolute;
    display: inline-block;
    z-index: 6;
    bottom: 2vh;
    left: 2vh;
  }
  .TagHeader
  {
    display: inline-flex;
    align-items: center;
  }
  .MenuButton
  {
    border: none;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    background-size: 7vh 7vh;
    width: 7vh;
    height: 7vh;
  }
  .Sidebar
  {
    top: 1vh;
    left: 1vh;
    width: 7vh;
    height: 7vh;
    transition: ease all .5s;
    border-radius: 50%;
  }
  .SkillsSection
  {
    right: 2vh;
  }
  #P1
  {
    display: none;
  }
  #T1
  {
    display: none;
  }
  #C1 
  {
    display: none;
  }
  #P2
  {
    display: inline;
    padding: 2vh;
  }
  #T2
  {
    display: inline;
    padding-bottom: 0;
  }
  #C2 
  {
    display: block;
    padding-top: 0;
  }
  #AM_Title
  {
    display: none;
  }
  nav
  {
    display: none;
  }
}